Options FollowSymLinks
RewriteEngine On

RewriteRule ^blog /?controller=blog
RewriteRule ^blog /?controller=blog&action=index
RewriteRule ^blog/([0-9]+)$ /?controller=blog&action=post&id=$1

RewriteRule ^admin /?controller=admin
RewriteRule ^admin /?controller=admin&action=index
RewriteRule ^register /?controller=admin&action=register
RewriteRule ^login /?controller=admin&action=login
RewriteRule ^logout /?controller=admin&action=logout